/* app/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 48 30% 97%;
    --foreground: 0 0% 20%;
    --card: 48 30% 97%;
    --card-foreground: 0 0% 20%;
    --popover: 48 30% 97%;
    --popover-foreground: 0 0% 20%;
    --primary: 220 55% 23%;
    --primary-foreground: 48 30% 97%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;
    --accent: 180 65% 35%;
    --accent-foreground: 48 30% 97%;
    --destructive: 341 65% 33%;
    --destructive-foreground: 48 30% 97%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 220 55% 23%;
    --chart-1: 180 65% 35%;
    --chart-2: 220 55% 23%;
    --chart-3: 341 65% 33%;
    --chart-4: 82 19% 62%;
    --chart-5: 167 74% 83%;
    --radius: 1rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 15%;
    --foreground: 48 30% 97%;
    --card: 0 0% 15%;
    --card-foreground: 48 30% 97%;
    --popover: 0 0% 15%;
    --popover-foreground: 48 30% 97%;
    --primary: 220 70% 45%;
    --primary-foreground: 48 30% 97%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 48 30% 97%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 70%;
    --accent: 180 65% 45%;
    --accent-foreground: 48 30% 97%;
    --destructive: 341 65% 45%;
    --destructive-foreground: 48 30% 97%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 48 30% 97%;
    --chart-1: 180 65% 45%;
    --chart-2: 220 70% 45%;
    --chart-3: 341 65% 45%;
    --chart-4: 82 19% 50%;
    --chart-5: 167 60% 70%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .sidebar-button {
    background-color: transparent;
    transition: background-color 0.2s;
  }

  .sidebar-button:hover {
    background-color: hsl(var(--sidebar-accent) / 0.3);
  }

  .sidebar-button[data-active="true"] {
    background-color: hsl(var(--sidebar-accent));
    color: hsl(var(--sidebar-accent-foreground));
  }
}
